.home {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding: 4px 16px;
  width: 100%;
  height: calc(100vh - 90px);
  padding-bottom: 160px;

  @media (max-height: 680px) {
    padding-bottom: 250px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 7px;
}